<%- include('./partials/header.ejs') %>
  <aside class="sidebar">
    <a href="/" class="logo">
      <img src="/assets/logo.svg" alt="Chippr logo">
    </a>
    <nav>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Daily tasks</a></li>
        <li><a href="/">Chat</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
  </aside>
  <main></main>
  <aside></aside>
  <%- include('./partials/footer.ejs') %>