/* ====================================== */
/* General                                */
/* ====================================== */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

:root {
  --cream: #F8F4F1;
  --dark: #262626;
  --accent: #FEBE2D;
  --accent-opaque: 254, 190, 45
  --grey: #FCFCFC;
  --grey-text: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 15em auto 20em;
  height: 100vh;
  font-family: Inter, sans-serif;
}

/* ====================================== */
/* Sidebar                                */
/* ====================================== */

aside.sidebar {
  background-color: var(--dark);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.2em;
  padding-right: 3em;
  gap: 1em;
}

.logo {
  position: relative;
  width: 100%;
}

.logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cream);
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

nav ul li a {
  color: var(--cream);
  line-height: 1.5;
  text-decoration: none;
  display: block;
  transition: 300ms;
}

nav ul li a.active,
nav ul li a:hover {
  padding: .6em;
  border-radius: .4em;
  background-color: rgba(var(--accent-opaque), .4)
/* ====================================== */
/* Header                                 */
/* ====================================== */

header {
  padding: 3.125rem 0 0 3.125rem;
  display: flex;
  align-items: center;
  width: 100%;
}

header span {
  font-size: 2rem;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  margin-left: 0.625rem;
}

.header-icon-wrapper {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-icon-wrapper .icon {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-icon-wrapper .icon img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.header-icon-wrapper .icon.cover {
  overflow: hidden;
}

.header-icon-wrapper .icon.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-icon-wrapper .icon span {
  position: absolute;
  background-color: red;
  font-size: .7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -10%;
  top: -10%;
}

/* ====================================== */
/* Add new task                           */
/* ====================================== */

.add-new-task {
  margin: .75rem 0 0 3.125rem;
  color: var(--grey-text);
  font-size: .9rem;
}

.add-new-task span {
  background-color: var(--cream);
  color: var(--accent);
  padding: 0.125rem 0.313rem 0.125rem 0.313rem;
  border-radius: 0.188rem;
}