/* ====================================== */
/* General                                */
/* ====================================== */

:root {
  --cream: #F8F4F1;
  --dark: #262626;
  --accent: #FEBE2D;
  --grey: #FCFCFC;
  --grey-text: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 16em auto 20em;
  height: 100vh;
  font-family: Inter, sans-serif;
}

/* ====================================== */
/* Sidebar                                */
/* ====================================== */

aside.sidebar {
  background-color: var(--dark);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.2em;
  gap: 1em;
}

.logo {
  position: relative;
  width: 100%;
}

.logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cream);
}

/* ====================================== */
/* Header                                 */
/* ====================================== */

header {
  padding: 3.125rem 0 0 3.125rem;
  display: flex;
  align-items: center;
  width: 100%;
}

header span {
  font-size: 2rem;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  margin-left: 0.625rem;
}

.header-icon-wrapper {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.header-icon-wrapper img {
  width: 1.563rem;
  height: auto;
  position: relative;
  margin-right: 0.938rem;
  z-index: 1;
}

.header-icon-wrapper span {
  background-color: var(--dark);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

/* ====================================== */
/* Add new task                           */
/* ====================================== */

.add-new-task {
  margin: .75rem 0 0 3.125rem;
  color: var(--grey-text);
  font-size: .9rem;
}

.add-new-task span {
  background-color: var(--cream);
  color: var(--accent);
  padding: 0.125rem 0.313rem 0.125rem 0.313rem;
  border-radius: 0.188rem;
}